<div class="grid-container">
    <div class="wrapper"> <!-- sets to use dark mode or light mode themes-->
        <mat-card class="example-card">
            <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ product.name }}</mat-card-title>
            <mat-card-subtitle><p>Quantity: <span>{{ product.quantity }}</span></p></mat-card-subtitle>
            <mat-card-subtitle><p>Price: <span>{{ product.price }}</span></p></mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{ product.image }}" alt="Photo of a product">
            <mat-card-content>
            <p>{{ product.description }}</p>
            </mat-card-content>
            <mat-card-actions>
            <button (click)="addToCart()" mat-button>Add to Cart</button>
            <button (click)="displayReviewPost()" mat-button>Review</button>
            </mat-card-actions>
        </mat-card>
        <app-display-reviews [product]="product"></app-display-reviews>   
</div>
</div>