<div class="main">
<div class="container" id="cart-table">
    <div class="Header">
    <h3 class="Heading">Shopping Cart</h3>
    <h5 class="Action"(click)="emptyCart()">Remove All</h5>
    </div>
    <table class="table table-striped" id="cart-table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Description</th>
        </tr>
      </thead>

    <tbody id="cart-table-body">
         <tr *ngFor="let product of products;">
            <td>{{product.product.id}}</td>
            <td>{{product.product.name}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.product.description}}<button class="btn btn-danger" (click)="deleteItem(product)"> Delete </button> </td>
        </tr> 
    </tbody>
    </table>
</div>

<button class="btn-danger" [routerLink]="['/home']">Back</button>
<button class="btn-primary" [routerLink]="['/checkout']">Proceed to Checkout (${{totalPrice}})</button>
</div>
