*{
    margin: 0;
    padding: 0;
}

.login-form
{
    height: 100%;
    width: 100%;
    background-image: white;
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box {
   width: 380px;
   height: 520px; 
   position: relative;
   margin: 6% auto;
   background: white;
   border: none;
   border-radius: 20px;
   box-shadow: 5px 10px 40px darkorange;
   background: #fff;
   padding: 5px;
}

.button-box {
    width: 220px;
     margin: 20px auto;
    position: relative;
    box-shadow: 5px 10px 40px darkorange;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, darkorange, darkorange);
    border-radius: 30px;
    transition: .5s;
}

#btn_ {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, darkorange, darkorange);
    border-radius: 30px;
    transition: .5s;
}

.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 35px auto;
    margin-right: 20px;
    background: darkorange;
    border: 0;
    outline: none;
    border-radius: 30px;
}

#register { 
    left: 50px;
}

img 
{
    padding-left: 2%;
    padding-top: 2%;
}