<img src="../../../assets/images/rev-logo.png" width="30%" height="30%" alt="Revature">


<form id="register-form" [formGroup]="registerForm">
  <div class="form-box">
    <div class="button-box">
    <button type="button" class="toggle-btn" [routerLink]="['/login']">Login</button>
    <button type="button" class="toggle-btn1" [routerLink]="['/register']">Register</button>
    </div> 
      <div class="input-group">
        <label for="inputFirstName"></label>
        <input type="text" class="input-field" formControlName="fname" id="inputFirstName" placeholder="Enter First Name">
    
  
        <label for="inputLastName"></label>
        <input type="text" class="input-field" formControlName="lname" id="inputLastName" placeholder="Enter Last Name">
    
   
      <label for="inputEmail"></label>
      <input type="email" class="input-field" formControlName="email" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter Email">
      <small id="emailHelp" class="form-text text-muted"></small>
 
      <label for="inputPassword"></label>
      <input type="password" class="input-field" formControlName="password" id="inputPassword" placeholder="Enter Password">
   
    <button class="submit-btn" (click)="onSubmit()">Register</button>
      </div>
      </div>
</form>

 


