<div class="grid-container">
    <div class="wrapper"> <!-- sets to use dark mode or light mode themes-->
    <aside class="left-bar">
        <img src="{{ product.image }}">
    </aside>
    <article class="mid-bar">
        <h1>{{ product.name }}</h1>
        <p>{{ product.description }}</p>
        <app-review [product_id] = "product.id"></app-review>
        <!-- <app-display-reviews></app-display-reviews> -->
    </article>
    <aside class="right-bar">
        <section>
            <p>Quantity: <span>{{ product.quantity }}</span></p>
            <p>Price: <span>{{ product.price }}</span></p>
            <button class="btn btn-outline-success" (click)="addToCart(product)">Add to Cart</button>
        </section>
    </aside>
    <app-review></app-review>
    <!-- Just a test -->
    <ul *ngFor="let item of gottenCart">
        <li>{{ item.product.name }} {{ item.product.id }}</li>
    </ul>
</div>
</div>

