<div class="container">
    
<div class="navbar">
     <div class="logo">
        <img src="../../../assets/images/favicon.png" width="8%" height="8%" alt="Revature" style="color: white">
        Revature Swag Shop
     </div>
   <nav>
        <ul>
           <li><a routerLink="/cart">Cart</a>
            <span class="badge"><br>{{cartCount}}</span>
        </li>
           <li><a [routerLink]="['/home']">Products</a></li>
           <li><button class="dark_btn" (click)="toggleTheme()" style="background-color:antiquewhite">Dark Mode</button></li>
           <li><button class="main_btn" (click)="logout();">Logout</button></li>
        </ul>
    
           
       
    </nav> 
</div>
</div>
