.container{
    border: 2px solid black;
    min-height: 50%;
    overflow-x: hidden;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 25%;
}

.table{
    margin: auto;
    width: 50%;
    max-height: 700px;
    overflow-y: scroll;
}