<app-navbar></app-navbar>
<div class="main">
    <div class="main_container">
      <div class="main_content">
        <h1>REVATURE</h1>
        <h2>The Swag Shop.</h2>
        <h2>Welcome Back!</h2>
    <div class="main_img--container">
        <img src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/online_shopping_ga73.svg" alt="pic" id="main_img">"
        <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap" rel="stylesheet">
    </div>






</div>