<!-- <textarea [(ngModel)] = "reviewInput" rows = "5" cols = "100" >
    Enter post here...
 
</textarea><br> -->
<div *ngIf="postReview">
<mat-form-field class="example-full-width" appearance="fill" rows="5" cols="100">
        <mat-label>Leave a Review</mat-label>
        <textarea [(ngModel)]="reviewInput" matInput placeholder="Ex. It makes me feel..."></textarea>
        
        
    </mat-form-field>
    <button (click) = "addReview()" name="reviewButton" mat-button>Post Review</button>
</div>
    <!-- <button >post</button> -->
