<textarea [(ngModel)] = "reviewInput" rows = "5" cols = "100" >
    Enter post here...
 
</textarea><br>
 <br>
<button  (click) = "addReview()" name="reviewButton" >post</button>

<br>
    <app-display-reviews></app-display-reviews>    
    


 <!-- <div class="container">
    <div class="row align-items-start">
       <div class="col" *ngFor="let review of allReviews">
            <app-display-reviews
               
                [reviewInfo]="allReviews"
            ></app-display-reviews> 
        
    </div>
</div></div> -->
