<img src="../../../assets/images/rev-logo.png" width="30%" height="30%" alt="Revature">

<div class="login-form" [formGroup]="loginForm">
    <div class="form-box">
      <div class="button-box">
        <button type="button" class="toggle-btn1">Login</button>
        <button type="button" class="toggle-btn" [routerLink]="['/register']">Register</button>
      </div>
      <div class="login" class="input-group">
      <label for="exampleInputEmail1"></label>
      <input type="email" class="input-field" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">Ensure you enter the correct email</small>

      <label for="exampleInputPassword1"></label>
      <input class="input-field" type="password"  formControlName="password" id="exampleInputPassword1" placeholder="Password">
    
    <button type="submit" class="submit-btn" (click)="onSubmit()">Log-In</button>
      </div>
    </div>
</div>
