/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before{margin: 0;}
:root{
  --bg-color: white;
  --text-color: rgba(36, 36, 42, 0.969);
}

[data-theme="dark"]{
--bg-color:black;
--text-color:teal;
}
